
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/.vscode
/tests/seed.spec.ts
/.playwright-mcp
/storageState.json
/specs
/.github/workflows